:root {
    --color-alfa: rgb(216, 172, 156);
    --color-beta: rgb(239, 217, 209);
    --color-gamma: rgb(153, 155, 132);
    --color-delta: rgb(244, 238, 237);
}

.nav {
    background: var(--color-gamma);
    display: flex;
    padding: 10px;
}

.nav__item {
    background: var(--color-alfa);
    cursor: pointer;
    padding: 0 5px;
    margin-left: 5px;
    position: relative;
}

.nav__item--no-space {
    margin-left: 0;
}

.nav__link {
    display: inline-block;
    color: var(--color-delta);
    height: 100%;
    text-decoration: none;
    width: 100%;
}

.nav__link:hover {
    color: var(--color-beta);
    transform: scale(1.1);
    transition: 0.3s ease-in;
}

.nav__item:hover > .nav__dropdown {
    display: block;
}

.nav__dropdown {
    display: none;
    padding-top: 20px;
    position: absolute;
    left: 0;
}

.dropdown__item {
    background: var(--color-alfa);
    border-bottom: 3px solid var(--color-delta);
    padding: 5px 20px;
    min-width: 120px;
}

.dropdown__link {
    display: inline-block;
    color: var(--color-delta);
    height: 100%;
    text-decoration: none;
    width: 100%;
}



